*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.report-side-nav{
    max-width: 400px;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-color: var(--light);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
}

.report-nav-lists{
    margin-top: 90px;
}


.report-nav-list{
    padding: 10px 10px;
}

.report-nav-links{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 10px;
   color: var(--text-color);
   transform: transition;
}

.report-nav-links.report-active{
    width: 100%;
    height: 40px;
    background-color: var(--text-color);
    color: var(--backgroundColor);
    padding-left: 10px;
    border-radius: 10px;
}

.report-nav-links:hover{
    width: 100%;
    height: 40px;
    background-color: var(--text-color);
    color: var(--backgroundColor);
    padding-left: 10px;
    border-radius: 10px;
    transition: 0.5 all ease-in;
}

.report-nav-icons{
    font-size: 18px;
}

.report-nav-heading{
    font-size: 18px;
}